<form class="max-w-xl m-auto" [formGroup]="loginForm" (ngSubmit)="login()">
  <!-- Benutzername -->
  <div class="mt-2 mb-6">
    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="benutzername" i18n>Benutzername</label>
    <input id="benutzername" class="w-full" type="text" pInputText formControlName="username"/>
  </div>

  <!-- Passwort -->
  <div class="mt-2 mb-6">
    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="passwort" i18n>Passwort</label>
    <p-password id="passwort"
                [style]="{'width': '100%'}"
                [inputStyle]="{'width': '100%'}"
                formControlName="password"
                [feedback]="false"
                [toggleMask]="true"></p-password>
  </div>

  <!-- Speichern -->
  <div class="flex md:items-center mt-2">
    <button type="button" (click)="reset()"
            class="text-gray-600 font-bold underline rounded-lg mr-5 py-2 text-center" i18n>
      Zurücksetzen
    </button>

    <button type="submit" [disabled]="loginForm.invalid"
            class="bg-lime-400 rounded-lg px-2 py-2 text-center" i18n>
      Login
    </button>
  </div>

  <div  >
    <p class="text-xs text-gray-500 font-bold my-2" i18n>Haben Sie noch keinen Account?</p>
    <a routerLink="/register" class="text-lime-600" i18n>Registrieren!</a>
  </div>


</form>
