<div class="relative">
  <div class="text-right">
    <button
      type="button"
      class="fas fa-bars inline-flex items-center rounded-lg p-2 text-gray-600 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
      id="options-menu"
      (click)="toggleMenu()"
      aria-haspopup="true"
      aria-expanded="true">
    </button>
  </div>

  @if (isOpen) {
    <div
      [ngClass]="'absolute right-0 mt-2 rounded-lg shadow-lg border-2 bg-white z-30'">
      <div class="py-1">
        @for (action of actions; track action) {
          <button
            routerLink
            (click)="executeAction(action)"
            [ngClass]="'w-' + width + ' block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 text-left'"
            role="menuitem">
            <span [class]="action.icon"></span>
            {{ action.label }}
          </button>
        }
      </div>
    </div>
  }
</div>
