<div class="avatar-container w-full flex items-center justify-center">
  @if (image) {
    <div class="image-container rounded-full p-2 h-20 w-20"
      [ngClass]="{'box-shadow-avatar': !!image}"
      [ngStyle]="{backgroundImage: 'url(data:image/png;base64,' + image + ')'}"
    ></div>
  } @else {
    <div class="image-container">
      <span class="fas fa-user"></span>
    </div>
  }


  <p-fileUpload
    #fileUpload
    id="avatar-fileupload"
    mode="basic"
    [customUpload]="true"
    chooseIcon="pi pi-upload"
    class="custom-file-upload ml-2"
    name="file"
    accept="image/*"
    [auto]="false"
    [url]="api"
    [maxFileSize]="10000000"
    (onSelect)="onSelect($event)">
  </p-fileUpload>


</div>
