<div class="w-full">
  @for (einkaufszettel of shoppinglists; track einkaufszettel) {
    <div  
      class="flex-grow-1 bg-gray-50 rounded-lg shadow-lg border-2 m-5">
      <div class="p-3 bg-white">
        <h2 class="flex text-2xl items-baseline">
          <span class="font-bold text-lime-600">{{ einkaufszettel.name }} </span>
          <button type="button" [routerLink]="['/artikel/new', einkaufszettel.id]"
            pTooltip="Neuen Artikel anlegen"
          class="fas fa-plus ml-2 text-gray-500" ></button>
          <div class="grow"></div>
          <!-- a revoir
          @if (einkaufszettel.shoppingListActions) {
            <app-split-button [width]="'64'"
            [actions]="einkaufszettel.shoppingListActions"></app-split-button>
          }
            -->
        </h2>
        @for (artikel of einkaufszettel.parts| boughtArticles:false; track artikel) {
          <div class="flex my-1 items-start">
            <p-checkbox class="mr-2 mt-1 rounded-full"
              [(ngModel)]="artikel.purchaseDate"
              [binary]="true"
            (onChange)="changeArtikel(einkaufszettel, artikel)"></p-checkbox>
            <span class="text-primary font-semibold text-xl text-lime-600 mr-2">{{ artikel.quantity }}</span>
            <span class="text-primary font-semibold text-xl cursor-pointer hover:underline break-all"
              pTooltip="Artikel bearbeiten"
            [routerLink]="['/artikel', einkaufszettel.id, artikel.id]">{{ artikel.name }}</span>
          </div>
        }
      </div>
      @if ((einkaufszettel.parts | boughtArticles:true); as boughtArticles) {
        <div
          class="border-t-2 px-3 bg-gray-50 text-gray-500">
          <div class="">
            @for (artikel of boughtArticles; track artikel) {
              <div class="flex my-1">
                <span class="fas fa-check text-primary font-semibold text-xl text-lime-600 mr-3"
                  pTooltip="Artikel zurücksetzen"
                (click)="changeArtikelGekauft(einkaufszettel, artikel)"></span>
                <span class="text-primary font-semibold text-xl text-lime-600 mr-2">{{ artikel.quantity }}</span>
                <span class="text-primary font-semibold text-xl cursor-pointer hover:underline break-all"
                  pTooltip="Artikel bearbeiten"
                  [routerLink]="['/artikel', einkaufszettel.id, artikel.id]" >{{ artikel.name }}</span>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }

    @if(shoppinglists.length === 0) {
    <div  class="font-medium">
      <div class="text-gray-500" >
        {{ 'home.text1' | translate }}
        </div>
        <a routerLink="/einkaufszettel" class="text-lime-600"><span
          class="fas fa-cart-shopping text-lime-600 mr-2 text-xl"></span><ng-container >{{ 'home.text2' | translate }}</ng-container></a>
        </div>
    }


