<form [formGroup]="artikelForm" class="max-w-xl m-auto" (ngSubmit)="save()">
  <!-- Name -->
  <div class="mt-2 mb-6">
    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="name" > Name* </label>
    <input class="w-full" id="name" type="text" pInputText formControlName="name" [readonly]="true" />
  </div>

  <!-- Anzahl / quantity -->
  <div class="mt-2 mb-6">
    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="quantity"> Anzahl* </label>
    <div class="w-full">
      <p-inputNumber id="quantity" formControlName="quantity"
        [style]="{'width': '100%'}" [inputStyle]="{'width': '100%'}"
      [ngStyle]="{'width': '100%'}"></p-inputNumber>
    </div>
  </div>

  <!-- Buttons -->
  <div class="flex md:items-center mt-2">
    @if (edit) {
      <button type="button" (click)="delete($event)"
        class="text-gray-600 font-bold underline rounded-lg mr-5 py-2 text-center">
        Supprimer
      </button>
    }
    <button type="submit" [disabled]="artikelForm.invalid"
      class="bg-lime-400 rounded-lg px-2 py-2 text-center">
      Enregistrer
    </button>
  </div>
</form>
