<form [formGroup]="einkaufszettelForm" class="max-w-xl m-auto" (ngSubmit)="save()">
  <!-- Name -->
  <div class="mt-2 mb-6">
    <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="name" >{{ 'shoppinglist.name' | translate }}</label>
    <input id="name" class="w-full" type="text" pInputText formControlName="name"/>
  </div>

  <!-- Owners -->
  @if (allUsersFriends.length > 0) {
    <div class="mt-2 mb-6">
      <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="name" >{{ 'shoppinglist.friends' | translate }}</label>
      <p-multiSelect
        [options]="allUsersFriends"
        [style]="{'width': '100%'}"
        [ngStyle]="{'width': '100%'}"
        formControlName="owners"
        optionLabel="username"
        placeholder="Wähle Benutzer die Besitzer sein sollen" />
      </div>
    }

    <!-- Shared with Users -->
    @if (allUsersFriends.length > 0) {
      <div class="mt-2 mb-6">
        <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="name" >{{ 'shoppinglist.share' | translate }}</label>
          <p-multiSelect
            [options]="allUsersFriends"
            [style]="{'width': '100%'}"
            [ngStyle]="{'width': '100%'}"
            formControlName="sharedWith"
            optionLabel="username"
            placeholder="Wähle Benutzer die auch Zugriff haben sollen" />
          </div>
        }

        <!-- Buttons -->
        <div class="flex md:items-center mt-2">
          @if (edit) {
            <button type="button" (click)="delete($event)"
              class="text-gray-600 font-bold underline rounded-lg mr-5 py-2 text-center" >
                <ng-container >{{ 'global.delete' | translate }}</ng-container>
          </button>
            }
            <button type="submit" [disabled]="einkaufszettelForm.invalid"
              class="bg-lime-400 rounded-lg px-2 py-2 text-center mr-3 " >
                  <ng-container >{{ 'global.submit' | translate }}</ng-container>
            </button>
            <button type="submit" [routerLink]="['/home']"
                  class="bg-lime-400 rounded-lg px-2 py-2 text-center" >
                  <ng-container >{{ 'global.cancel' | translate }}</ng-container>
            </button>
            </div>
          </form>
